/*
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
*/
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

* {
  margin: 0;
  padding: 0;
}

body {
/*  font-family: 'IM Fell English', serif; */
  font-family: 'Goudy Bookletter 1911', serif;
  font-variant: oldstyle-nums common-ligatures discretionary-ligatures contextual;
/*  font-size: 1.4em; */
  line-height: 1.4;
  color: black;
  max-width: 65em;
  margin: 0 auto;
}

#content {
  margin: 2em 1em 2em 2em;
}

header {
  margin: 1em 0;
  text-align: center;
}

.hslug {
  display: inline-block;
}

.dwarms_l {
  height: 3.75em;
  margin: 0 0.75em;
  display: inline-block;
  vertical-align: bottom;
}

.dwarms_r {
  height: 3.75em;
  margin: 0 0.75em;
  display: inline-block;
  vertical-align: bottom;
}

#opbar {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

#details {
  margin: 1em 0;
}

#awards {
  margin: 1em 0;
  clear: both;
}

a {
  text-decoration: none;
}

a:hover {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;
  border-radius: 8px;
}

p {
  margin-bottom: 1em;

  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  hyphens: auto;
}

th {
  font-weight: normal;
  text-align: left;
}

.awardslist_box {
  column-count: 3;
}

.awardslist_box div {
  display: inline-block;
}

.emblazon {
  float: left;
  margin: 0 2em 1em 0;
}

#armorial {
}

#armorial td {
  padding: 0.75em 0.25em;
  vertical-align: top;
}

.emblazon_small {
/*  display: inline-block; */
  text-align: center;
}

.emblazon_small img {
  display: block;
  height: 5em;
  margin: 0 auto;
}

.noarms {
  height: 159px;
  width: 133px;
  background-image: url("../images/arms/noarms.png");
  background-repeat: no-repeat;
  background-position: center;
/*  display: inline-block; */
}

.noarms div {
  padding-top: 1em;
  text-align: center;
}

table.op {
  border-collapse: collapse;
  border-spacing: 0;
/*  font-variant-numeric: lining-nums tabular-nums; */
}

table.op th {
  font-variant: small-caps;
  font-weight: bold;
}

table.op th, table.op td {
  padding: 0.25em 0.5em 0.125em 0.5em;
  vertical-align: top;
}

table.op td:first-child {
  padding-left: 5em;
}

table.op tbody + tbody th:first-child {
  padding-top: 1em;
}

/*
table.op tbody + tbody th:first-child {
  padding-top: 5em;
}
*/

table.results {
  border-collapse: collapse;
  border-spacing: 0;
/*  font-variant-numeric: lining-nums tabular-nums; */
/*  width: 100%; */
}

table.results thead, table.results tbody {
  border-bottom: 1px solid #dddddd;
}

/*
table.results tbody tr {
  border-top: 1px solid #dddddd;
}
*/

table.results th {
/*  font-family: 'IM Fell English SC', serif; */
  font-variant: small-caps;
}

table.results th, table.results td {
  padding: 0.25em 0.5em 0.125em 0.5em;
  vertical-align: top;
}

table.results thead th {
  font-weight: bold;
  text-align: left;
}

table.searchform th {
  text-align: right;
  padding: 0.25em 0 0.125em 0.5em;
}

table.searchform td {
  padding: 0.25em 0.5em 0.125em 0.5em;
}

.disabled {
  color: #cccccc;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
  background-color: #ffaaaa;
  padding: 0.25em;
}

#recform h2 {
  margin: 0.5em 0 0.25em 0;
}

#foot_nav, #head_nav {
  font-variant: small-caps;
  text-align: center;
/* font-family: 'IM Fell English SC', serif; */
}

#head_nav {
/*  margin-bottom: 0.5em; */
}

#foot_nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

#foot_nav ul.mhlist, #head_nav ul.mhlist {
  display: inline;
}

#foot_nav ul.mhlist li:before, #head_nav ul.mhlist li:before {
  margin: 0 0.5em;
}

#foot_nav ul.mhlist li:first-child::before, #head_nav ul.mhlist li:first-child::before {
  margin: 0;
}

#other_nav {
  float: right;
  margin-right: 1em;
}

ul.mhlist {
  padding: 0;
}

ul.mhlist li {
  display: inline;
}

ul.mhlist li::before {
  content: ' · ';
}

ul.mhlist li:first-child::before {
  content: '';
}
