{% extends "base.html" %}
{% block title %}Search by Award{% endblock %}
{% block content %}
<div id="content">
  <h1>Awards</h1>
  {% if results %}
  <div id="awards">
    <table class="results">
      <thead>
        <tr>
          <th>Name</th>
          <th>Award</th>
          <th>Date</th>
          <th>Crown</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        {% for i in results -%}
        <tr>
          <td><a href="{{ url_for('persona', name=i[0]) }}">{{i[0]}}</a></td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <form method="post">
    <div id="awardsections">
      <h2>SCA awards</h2>
      <table>
        {% for i in awards_sca %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h2>Drachenwald awards</h2>
      <table>
        {% for i in awards_dw %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h2>Principality awards</h2>
      <h3>Insulae Draconis awards</h3>
      <table>
        {% for i in awards_id %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h3>Nordmark awards</h3>
      <table>
        {% for i in awards_nm %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h2>Baronial awards</h2>

      <h3>Aarnimetsä awards</h3>
      <table>
        {% for i in awards_aa %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h3>Knight's Crossing awards</h3>
      <table>
        {% for i in awards_kc %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h3>Styringheim awards</h3>
      <table>
        {% for i in awards_st %} 
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>

      <h3>Gotvik awards</h3>
      <table>
        {% for i in awards_gv %}
        <tr>
          <td><input type="checkbox" name="{{i[0]}}"/></td>
          <th><label for="{{i[0]}}">{{i[1]}}</label></th>
        </tr>
        {% endfor %}
      </table>
    </div>

    <table>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Search">Search</button>
          <button type="reset" value="Reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
