{% import "macros.html" as macros %}
<!doctype html>
<html lang="en-US">
<head>
{% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>
{% endblock %}
</head>
<body>
  {% block flash %}{% endblock %}
  {% block header %}
  <header>
    <img class="dwarms_l" src="{{ url_for('static', filename='images/arms/dwarms.png') }}"/><div class="hslug">
      <nav id="head_nav">
        {{ macros.navlist() }}
      </nav>
      <div id="opbar">Drachenwald Order of Precedence</div>
    </div><img class="dwarms_r" src="{{ url_for('static', filename='images/arms/dwarms.png') }}"/>
  </header>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}
  <footer>
    <nav id="foot_nav">
      {{ macros.navlist() }}
    </nav>

    <nav id="other_nav">
      <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    </nav>
  </footer>
  {% endblock %}
</body>
</html>
