{% extends "base.html" %}
{% block title %}Drachenwald OP - Search by Name{% endblock %}
{% block content %}
<div id="content">
  {% if matches %}
  <h1>Several names match your query test</h1>
  <table>
    {% for g in matches %}
    <tr>
      <td><a href="{{ url_for('persona', name=g[0]) }}">{{g[0]}}</a>{% if g[1:] %} (also known as {{ g[1:]|sort|unique|join(', ') }}){% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h1>No names match your query</h1>
  {% endif %}
</div>
{% endblock %}
