{% extends "base.html" %}
{% block title %}Search by Name{% endblock %}
{% block content %}
<div id="content">
  {% if matches %}
  <p class="text-center mb-3">Several names match your query</p>

  <div id="awards" class="mb-3">
    <div class="list-group col-12 col-md-8 col-lg-6 mx-auto shadow">

      {% for g in matches %}
    	  {% set alt_names = g[3] %}

        <a href="{{ url_for('persona', name=g[1]) }}" class="list-group-item list-group-item-action">
          <div class="w-100">
            <span>{{ g[1] }}</span><br />
            {% if alt_names %}<small class="text-body-secondary">{{ alt_names }}</small>{% endif %}
          </div>
        </a>

      {% endfor %}

    </div>
  </div>

  {% else %}
    <div class="alert alert-warning col-10 col-lg-8 mx-auto mb-4 shadow">
      <i class="fa-solid fa-circle-info"></i> No names match your query
    </div>

    <div class="text-center w-100">
      <div class="d-grid gap-2 col-10 col-lg-8 mx-auto mt-5 mb-4 shadow">
        <a class="btn btn-primary shadow" href="{{ url_for('search') }}">Search again</a>
      </div>
    </div>

  {% endif %}
</div>
{% endblock %}
