{% extends "base.html" %}
{% block title %}Drachenwald OP - Search by Name{% endblock %}
{% block content %}
<div id="content">
  {% if matches %}
  <h1>Several names match your query test</h1>
  <table>
    {% for g in matches %}
    	{% set alt_names = g[3] %}
    <tr>
           <td><a href="{{ url_for('persona', name=g[1]) }}">{{g[1]}} {% if alt_names %} ({{ alt_names }}) {% endif %}</a></td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
  <h1>No names match your query</h1>
  {% endif %}
</div>
{% endblock %}
