{% extends "base.html" %}
{% block title %}Search by Date{% endblock %}
{% block content %}
  {% if results %}
  <table>
    {% for i in results -%}
    <tr>
      <td><a href="{{ url_for('persona', name=i[0]) }}">{{i[0]}}</a></td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
    </tr>
    {% endfor -%}
  </table>
  {% endif %}

  <form method="post">
    <table>
      <tr>
        <th>
          <label for="begin">Date range</label>
        </th>
        <td> 
          <input type="text" name="begin"/> &ndash; <input type="text" name="end"/>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Search">Search</button>
          <button type="reset" value="Reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
