{% extends "base.html" %}
{% block title %}Drachenwald Order of Precedence{% endblock %}
{% block content %}
<div id="content">
<h1>Drachenwald Order of Precedence</h1>

<p>The Drachenwald Order of Precedence lists awards and honors given by the crowned heads in the realm of Drachenwald, and those awards and honors held by those who currently live in Drachenwald.</p>

<div class="notice">
We are have finished updating the means by which awards are registered in the OP, and are now in the process of adding recent awards; we expect this to be finished by mid-March, and appologize for the inconvenience.
</div>

</div>
{% endblock %}
