{% macro tablesort_head() -%}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablesort.css') }}"/>
  <script src="{{ url_for('static', filename='js/tablesort.min.js') }}"></script>
{%- endmacro %}

{% macro personnavlist() -%}
  <ul class="mhList">
    <ol>Recommend this person for an award</ol>
    <ol><a href="https://docs.google.com/forms/d/1T8rvYTbPVZLdXIZU9rLi5Oj5lb9KYbjjoljQvSvyx44/prefill">Submit a correction</a></ol>
  </ul>
{%- endmacro %}

{% macro navlist() -%}
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-banner-menu" aria-controls="top-banner-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="top-banner-menu">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('awards') }}">Awards</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('op') }}">OP</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('reigns') }}">Reigns</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('armorial') }}">Armorial</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('recommend') }}">Recommend</a></li>
      <li class="nav-item"><a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdtLQV7XY9ehFnc5T65Q5vPCFZMCB8hUc458JTw34rPRjdipw/viewform?usp=pp_url">Correction</a></li>
    </ul>
  </div>
{%- endmacro %}
