{% extends "base.html" %}
{% block title %}Drachenwald OP - Search by Modern Name{% endblock %}
{% block content %}
  {% if matches %}
  <table>
    {% for i in matches %}
    <tr>
      <td><a href="{{ url_for('person', surname=i[1], prename=i[2]) }}">{{i[2]}} {{i[1]}}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form method="post">
    <table>
      <tr>
        <th>
          <label for="prename">Prename</label>
        </th>
        <td>
          <input type="text" name="prename"/>
        </td>
        <th>
          <label for="surname">Surname</label>
        </th>
        <td>
          <input type="text" name="surname"/>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Search">Search</button>
          <button type="reset" value="Reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
