{% extends "base.html" %}
{% block title %}Order of Precedence{% endblock %}
{% block content %}
<div id="content">
  <h1>Order of Precedence</h1>
  {% if results %}
  <div id="awards">
    <table class="op">
      {% for prec, group in results -%}
      <tbody>
        <tr>
          <th colspan="2">{{headers[prec]}}</th>
        </tr>
        {% for r in group %}
        <tr>
          <td><a href="{{ url_for('persona', name=r[0]) }}">{{r[0]}}</a></td>
          <td>{{r[1]}}</td>
        </tr>
        {% endfor -%}
      </tbody>
      {% endfor -%}
    </table>
  </div>
  {% endif %}

  <form method="post">
    <table>
      <tr>
        <td>
          <select name="precedence">
            <option value="1000">Duchy</option>
            <option value="900">County</option>
            <option value="800">Viscounty</option>
            <option value="700">Bestowed peerages</option>
            <option value="600">Court Barony</option>
            <option value="500">Grant of Arms awards</option>
            <option value="400">Grant of Arms</option>
            <option value="300">Award of Arms awards</option>
            <option value="200">Award of Arms</option>
            <option value="100">All awards</option>
          </select> and above
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" value="Search">Search</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
