{% extends "base.html" %}
{% block title %}Drachenwald OP - {{name}}{% endblock %}
{% block content %}
<div id="content">
  <div id="details">
    {{emblazon|safe}}

    <h1>{{name}}</h1>

    {% if former %}
    <h2>known formerly as {{ ', '.join(former) }}</h2>
    {% endif %}

    {% if region %}
    late of {{region}}<br/>
    {% endif %}
    whose modern name is {% if not has_modname %}not{% endif %} on file</br>
    {% if blazon %}
    bearing arms of {{blazon}}
    {% endif %}
  </div>
  <div id="awards">
    {% if awards %}
    <table class="results">
      <thead>
        <tr>
          <th>Name</th>
          <th>Award</th>
          <th>Date</th>
          <th>Crown</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        </tr>
        {% for i in awards -%}
        <tr>
          {% for j in i %}
          <td>{{j}}</td>
          {% endfor -%}
        </tr>
        {% endfor -%}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
