{% extends "base.html" %}
{% block title %}Drachenwald OP - {{name}}{% endblock %}
{% block content %}
  {% if awards %}
  <table class="results">
    <thead>
      <tr>
        <th>Name</th>
        <th>Award</th>
        <th>Date</th>
        <th>Crown</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      </tr>
      {% for i in awards -%}
      <tr>
        {% for j in i %}
        <td>{{j}}</td>
        {% endfor -%}
      </tr>
      {% endfor -%}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
