{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {{ macros.tablesort_head() }}
{% endblock %}
{% block title %}Drachenwald OP - {{forename}} {{surname}}{% endblock %}
{% block content %}
<div id="content">
  <div id="details">
    <h1>{{forename}}{{ ' ' if forename and surname}}{{surname}}</h1>
        <ul class="mhList">
    <ol>Recommend this person for an award</ol>

    <ol><a href="https://docs.google.com/forms/d/e/1FAIpQLSdtLQV7XY9ehFnc5T65Q5vPCFZMCB8hUc458JTw34rPRjdipw/viewform?usp=pp_url&entry.2122792637={{forename}}+{{surname}}&entry.1114613229=http://op.drachenwald.sca.org{{request.path}}">Submit a correction for {{forename}} {{surname}}</a></ol>
  </ul>
  </div>
  <div id="awards">
    {% if awards %}
    <table class="results">
      <thead>
        <tr>
          <th>Award</th>
          <th data-sort-default>Date</th>
          <th>Crown</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        </tr>
        {% for i in awards -%}
        <tr>
          {% for j in i %}
          <td>{{j}}</td>
          {% endfor -%}
        </tr>
        {% endfor -%}
      </tbody>
    </table>
    {% endif %}
  </div>

</div>

<script>
  for (let t of document.getElementsByClassName('results')) {
    new Tablesort(t);
  }
</script>
{% endblock %}

