{% extends "base.html" %}
{% block title %}Award Recommendation{% endblock %}
{% block content %}
<div id="content">

  <form method="post">
    <input type="hidden" name="state" value="0"/>
    
    <label for="persona" class="form-label"><strong>Recommend someone for an award</strong></label>

    <div class="input-group mb-5 shadow">
      <input id="persona" name="persona_search" type="text" class="form-control" placeholder="Enter their SCA name">
      <button class="btn btn-primary px-5" id="submit" type="submit" value="Search">Search</button>
    </div>

  </form>

</div>
{% endblock %}
