{% extends "base.html" %}
{% block title %}Reigns{% endblock %}
{% block content %}
<div id="content">
  <div id="awards">
    <div class="d-lg-flex m-2 text-center">
      <ul class="list-group m-2 w-100">

        <li class="list-group-item list-group-item-primary text-bg-primary">
          <h3>Princes and Princesses of Drachenwald</h3>
        </li>

        {% for i in principality -%}
        <li class="list-group-item">
          {{ i[0] }}<br />
          <small class="text-body-secondary">From {{ i[1] }} to {{ i[2] }}</small>
        </li>
        {% endfor %}
      </ul>

      <br />

      <ul class="list-group m-2 w-100">
        <li class="list-group-item list-group-item-primary text-bg-primary">
          <h3>Kings and Queens of Drachenwald</h3>
        </li>
        {% for i in kingdom -%}
        <li class="list-group-item">
          {{ i[0] }}<br />
          <small class="text-body-secondary">From {{ i[1] }} {% if i[2] %}to {{ i[2] }}{% endif %}</small>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
{% endblock %}
