{% extends "base.html" %}
{% block title %}Reigns{% endblock %}
{% block content %}
<div id="content">
  <div id="awards">
    <table class="results">
      <thead>
        <tr>
          <th>Crowns</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Princes and Princesses of Drachenwald</th>
        </tr>
        {% for i in principality -%}
        <tr>
          {% for j in i -%}
          <td>{{j}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr>
          <th>Kings and Queens of Drachenwald</th>
        </tr>
        {% for i in kingdom -%}
        <tr>
          {% for j in i -%}
          <td>{{j}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
