{% extends "base.html" %}
{% block title %}Drachenwald OP - Search{% endblock %}
{% block content %}
<div id="content">
  <h1>Searches</h1>

  <form method="post">
    <table class="searchform">
      <tr>
        <th>
          <label for="persona">Persona</label>
        </th>
        <td>
          <input id="persona" name="persona" type="text"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="forename">Forename</label>
        </th>
        <td>
          <input id="forename" name="forename" type="text"/>
        </td>
        <th>
          <label for="surname">Surname</label>
        </th>
        <td>
          <input id="surname" name="surname" type="text"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="begin">Date range</label>
        </th>
        <td colspan="3">
          <input id="begin" name="begin" type="text" placeholder="YYYY-MM-DD" pattern="[12]\d{3}-[01]\d-[0-3]\d"/> &ndash; <input id="end" name="end" type="text" placeholder="YYYY-MM-DD" pattern="[12]\d{3}-[01]\d-[0-3]\d"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="crown">Crown</label>
        </th>
        <td colspan="3">
          <select id="crown" name="crown">
            <option value=""/>
          {% for i in crowns %}
            <option value="{{i[0]}}">{{i[1]}}</option>  
          {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label for="award">Award</label>
        </th>
        <td>
          <input id="award" name="award" type="text"/>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button id="submit" type="submit" value="Search">Search</button>
          <button id="reset" type="reset" value="Reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<script src="{{ url_for('static', filename='js/form.js') }}" type="application/javascript"></script>
{% endblock %}
