{% extends "base.html" %}
{% block title %}Drachenwald OP - Search{% endblock %}
{% block content %}
<div id="content">
  <h1>Searches</h1>
  <form method="post">
    <table class="searchform">
      <tr>
        <th>
          <label for="persona">Persona</label>
        </th>
        <td>
          <input type="text" name="persona"/>
        </td>
      </tr>
      <tr>
        <td class="orsep">or</td>
      </tr>
      <tr>
        <th>
          <label for="forename">Forename</label>
        </th>
        <td>
          <input type="text" name="forename"/>
        </td>
        <th>
          <label for="surname">Surname</label>
        </th>
        <td>
          <input type="text" name="surname"/>
        </td>
      </tr>
      <tr>
        <td class="orsep">or</td>
      </tr>
      <tr>
        <th>
          <label for="begin">Date range</label>
        </th>
        <td colspan="3">
          <input type="text" name="begin" placeholder="YYYY-MM-DD"/> &ndash; <input type="text" name="end" placeholder="YYYY-MM-DD"/>
        </td>
      </tr>
      <tr>
        <td class="orsep">or</td>
      </tr>
      <tr>
        <th>
          <label for="crown">Crown</label>
        </th>
        <td colspan="3">
          <select name="crown">
            <option value=""/>
          {% for i in crowns %}
            <option value="{{i[0]}}">{{i[1]}}</option>  
          {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td class="orsep">or</td>
      </tr>
      <tr>
        <th>
          <label for="award">Award</label>
        </th>
        <td>
          <input type="text" name="award"/>
        </td>
      </tr>
      <tr>
        <td/>
        <td>
          <button type="submit" value="Search">Search</button>
          <button type="reset" value="Reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
